img[alt="thumbnail"] {
    max-width: 100px;
  max-height: 100px;
  display: block;
  margin-right: 12px;
  margin-top: 12px;
  float: left;
  clear: left;
}

img[alt="center"] {
  max-width: 640px;
  max-height: 320px;
  display: block ;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px grey;
}


img[alt="right"] {
  max-width: 360px;
  max-height: 1800px;
  display: block ;
  margin-left: 12px;
  margin-right: 12px;
  float: right;
  clear: right;
}

img[alt="left"] {
    max-width: 360px;
    max-height: 1800px;
    display: block;
    margin-right: 12px;
    margin-top: 12px;
    float: left;
    clear: left;
  }