.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

a[aria-expanded=true] .fa-chevron-down {
    display: none;
 }
 a[aria-expanded=false] .fa-xmark {
    display: none;
 }

 #bot {
    position: absolute;
    /* z-index: 1000; */
    width: 500px;
    background-color: white;
    left: 82px;
    overflow: scroll;
 }
 .hide {
     display: none;
 }